.footer-text {
  text-align: center;
  color: #868e96 !important;
}

.dark-mode {
  color: white !important;
}

.footer-div {
  margin-top: 2rem;
  /* padding-bottom: 1rem; */
}

.footer-hits {
  text-align:center;
  display:block;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

